Package: osbuild
Version: 0-1
Architecture: all
Maintainer: Sanne Raymakers <sanne.raymaekers@gmail.com>
Installed-Size: 682
Depends: python3:any, python3-osbuild
Section: unknown
Priority: optional
Homepage: https://osbuild.org
Description: aaa
 qoiwjqwd
